.container {
    max-width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    height: calc(100vh - 65px);
    background-color: #ffffff;
    margin-left: 50px;
    padding-top: 65px;
}

.chartsWrap {
    /* display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chartsWrap h2 {
    margin-bottom: 24px;
    text-align: center;
}

.container.chartsWrap:nth-child(3) {
    background-color: red;
}

.chart3 {
    grid-column: 1 / span 2;
    margin-top: 50px;
}