/* components/ContinuousChat.module.css */

/* chatbot.module.css */

/* .loading {
    font-size: 20px;
    color: #ffffff;
    margin-top: 15px;
    margin-left: 25px;
  }
  
  .loading::after {
    content: '🌟';
    display: inline-block;
    animation: spin 1s infinite linear;
  } */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.container {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  /* padding-left: 38px;     */
  height: calc(100vh - 65px);
  background-color: #ffffff;
  /* background: linear-gradient(45deg, #e98fff, rgb(166, 160, 255));  */

  /* margin-left: 50px; */
}

@media screen and (min-width: 1600px) {
  .container {
    padding-left: 100px;
  }
}


/* .container ol {
  list-style: none;
} */

.container h1 {
  text-align: center;
  font-size: 65px;
  margin-bottom: -35px;
  margin-top: -10px;
  color: #6133CC;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.container h3 {
  text-align: center;
  margin-bottom: 25px;
  /* color: rgb(77, 0, 131); */
}

.chatMessage {
  /* margin-bottom: 10px; */
  /* max-width: 1200px; */
  overflow-x: auto;
}

.chatMessage p {
  /* margin: 5px 0; */
  font-size: 16px;
  border-radius: 5px;
  /* padding: 10px; */
  width: fit-content;
  margin-bottom: 0px;


}

.chatMessage a {
  color: blue;
  text-decoration: underline;
}

.chatMessage h1 {
  text-align: center;
  font-size: 65px;
  margin-bottom: -35px;
  margin-top: -10px;
  color: #6133CC;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.chatMessage h3 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 10px;
  /* color: rgb(77, 0, 131); */
  margin-top: 20px !important;
  font-weight: bold;
  font-size: 20px;
}

.chatMessage li {
  padding: 0;
  margin-left: 16px;
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  font-size: 15px;
}

.chatMessage ul {
  padding: 0;
  margin-left: 20px;
  font-size: 15px;
  margin-block: 12px;
  list-style: circle;
}

.chatMessage ol {
  padding: 0;
  margin-left: 20px;
  font-size: 15px;
  list-style: decimal;
  margin-block: 12px;
}

.chatMessage ol li {
  margin-bottom: 8px;
}

.chatMessage table {
  padding: 0;
  font-size: 15px;
  border-collapse: separate;
  border: 1px solid #1B232E;
  border-spacing: 0;
  border-radius: 8px;
  margin-block: 12px;
}

.chatMessage th {
  padding: 5px;
  border: 1px solid #1B232E;
  border-top: 0;
  border-left: 0;
  font-size: 14px;
}

.chatMessage th:last-child {
  border-right: 0;
}

.chatMessage td {
  padding: 5px;
  border: 1px solid #1B232E;
  border-top: 0;
  border-left: 0;
}

.chatMessage tr {
  border: 1px solid #1B232E;
  border-top: 0;
  border-left: 0;
}

.chatMessage td:last-child {
  border-right: 0;
}

.chatMessage tr:last-child>td {
  border-bottom: 0;
}

.chatMessage img {
  margin-block: 12px;
  border-radius: 8px;
}




.inputContainer {
  display: flex;
  position: absolute;
  bottom: 20px;
  gap: 16px;
  max-width: 800px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.inputContainer input {
  flex: 1;
  padding: 17px 10px;
  /* border: 2px solid #2569E6; */
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #F1F1F2;
  background-color: #FAFAFA;
}

.inputContainer input::placeholder {
  color: #7A7E85;
  font-size: 14px;
}

.inputContainer button {
  padding: 8px 16px;
  background-color: #6133CC;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 30px;

}

/* .inputContainer button:hover {
  background-color: #0f3e95;
  border: 2px solid #0f3e95;
} */

.chatContainer {
  max-height: 74vh;
  overflow-y: scroll;
  width: 80vw;
  margin-top: 35px;
}

.chatContainer::-webkit-scrollbar {
  display: none;
}

.logoutButton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  background-color: #f44336;
  /* Red color for logout button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: Calibri, sans-serif;
}

.logoutButton:hover {
  background-color: #d32f2f;
  /* Darker red color on hover */
  font-weight: bold;
}

.newButton {
  position: fixed;
  top: 95px;
  right: 30px;
  background-color: #6133CC;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newButton:hover {
  background-color: #6133CC;
}

.usernameModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure the modal overlay is above other content */

}

.usernameModal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add shadow for depth */

  margin-left: 140px;
  margin-top: -80px;
}

.usernameModal h2 {
  margin-top: 0;

  margin-bottom: 5px;
  text-align: center;
}

.usernameModal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.usernameModal button {
  background-color: #2569E6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;

  position: relative;
  left: 92px;
}

.usernameModal button:hover {
  background-color: #1e54b7;
  /* Darker shade on hover */
}